
<div class="admin-container">
<mat-tab-group>
      <mat-tab label="Members"><app-members></app-members></mat-tab>
      <mat-tab label="Officers"><app-admin-officers></app-admin-officers></mat-tab>
      <mat-tab label="Events"><app-admin-events></app-admin-events></mat-tab>
      <mat-tab label="Documents"><app-admin-documents></app-admin-documents></mat-tab>
      <mat-tab label="Pictures"><app-admin-picture></app-admin-picture></mat-tab>
      <mat-tab label="Newsletters"><app-admin-events></app-admin-events></mat-tab>
      <mat-tab label="Admin">Hello!</mat-tab>
</mat-tab-group>
</div>

