<br><br>
<!--   displayedColumns: string[] = ['AdminID', 'User', 'Password'];
 -->
<h1>Administrative View: Admins</h1>
<table mat-table [dataSource]="admins" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="AdminID">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin ID</th>
           <td mat-cell *matCellDef="let adm">{{adm.AdminID}}</td>
      </ng-container>
      <ng-container matColumnDef="User">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
            <td mat-cell *matCellDef="let adm">{{adm.user}}</td>
      </ng-container>
      <ng-container matColumnDef="Password">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
            <td mat-cell *matCellDef="let adm">{{adm.password}}</td>
      </ng-container>
     
      <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let adm"> 
                  <input type="button" value = "Delete" color='primary' (click)='deleteAdmin(adm.AdminID)'>   
            </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="adminCount">
      Number of admins: {{this.adminLength}}  
</div>
<br><br>

<button mat-raised-button (click)="openDialog()">Add New Admin </button> 
<br><br>
<div *ngIf="error" class="alert alert-danger">Database says: {{error}}</div>
<div *ngIf="success" class="alert alert-success">Database says: {{success}}</div>

<br><br><br><br>