.logo {
    position: fixed;
    top:9%;
    height: 15%;
    left: 5%;
}
.logo img {
    width: 35%;
    height: auto;
}

.memberButton{
    position: fixed;
    right: 15%;
    top: 9.5%;
    background-color: #be0f34;
    color: white;
    font-size: xx-large;
}

.mission{
    position: fixed;
    top: 87%;
    // margin: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border: 3px solid #005596;
    padding: 10px;
    text-align: center;

}