#test{
    position: fixed;
    top: 50%;
    left: 50%;
}

.logo {
    position: fixed;
    top:9%;
    height: 15%;
    left: 5%;
}
.logo img {
    width: 35%;
    height: auto;
}

.memberButton{
    position: fixed;
    right: 15%;
    top: 9.5%;
    background-color: #be0f34;
    color: white;
    font-size: xx-large;
}