.logo {
    //position: relative;
    top:50%;
    height: 15%;
    left: 5%;
}
.logo img {
    width: 35%;
    height: auto;
}

.memberButton{
    //position: relative;
    z-index: 1;
    align-content: right;
    top: -10%;
    left: 80%;
    background-color: #be0f34;
    color: white;
    font-size: xx-large;
}

.mission{
    //position: relative;
    top: 58%;
    margin: auto;
    justify-content: center;
    //left: 40%;
    //right: 40%;
    transform: translateX(-50%);
    width: 50%;
    border: 3px solid #005596;
    padding: 10px;
    text-align: center;

}