table{
    width:100%;
}
button{
    color: #005596;
}
.newsletterCount{
    text-align: right;
    margin-right: 4%;
}
th.mat-sort-header-sorted {
    color: black;
}
.submitButton{
    width: 10%;
    height: 10%;
    color: green;
}
.sort{
    display: inline-block;
    width: 50%;
}
.rdobtn{
    padding-right: 3%;
}
