mat-form-field{
    width: 100%;
}
#close{
    background-color: #005596;
    color: white;
}
.address{
    text-align: center;
}

h1{
    color: #005596;
    font-weight: 1000;
    font-size: x-large;
    text-align: center;
}