table{
    width:100%;
}

button{
    color: #005596;
}
.memberCount{
    text-align: right;
    margin-right: 4%;
}
th.mat-sort-header-sorted {
    color: black;
}
.inLine{
    display: flex;
}
.sort{
    display: inline-block;
}

.rdobtn{
    padding-right: 3%;
}

.mat-radio-inner-circle { 
    background-color: #005596;
}