
<br><br>
<h1>Administrative View: Members</h1>
<!--Table view?-->
<table mat-table [dataSource]="members">
      <ng-container matColumnDef="Select">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let mem">
                  <mat-checkbox [(ngModel)]="mem.checked"></mat-checkbox>
            </td>
      </ng-container>
      <ng-container matColumnDef="Member ID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let mem">{{mem.MemberID}}</td>
      </ng-container>
      <ng-container matColumnDef="First Name">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let mem">{{mem.FirstName}}</td>
      </ng-container>
      <ng-container matColumnDef="Last Name">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let mem">{{mem.LastName}}</td>
      </ng-container>
      <ng-container matColumnDef="Secondary Member">
            <th mat-header-cell *matHeaderCellDef>Secondary Household Member Name</th>
            <td mat-cell *matCellDef="let mem">{{mem.SecondaryHouseholdMemberName}}</td>
      </ng-container>
      <ng-container matColumnDef="Last Paid Date">
            <th mat-header-cell *matHeaderCellDef>Last Paid Date</th>
            <td mat-cell *matCellDef="let mem">{{mem.LastPaidDate}}</td>
      </ng-container>
      <ng-container matColumnDef="Date Joined">
            <th mat-header-cell *matHeaderCellDef>Date Joined</th>
            <td mat-cell *matCellDef="let mem">{{mem.DateJoined}}</td>
      </ng-container>
      <ng-container matColumnDef="Membership Type">
            <th mat-header-cell *matHeaderCellDef>Membership Type</th>
            <td mat-cell *matCellDef="let mem">{{mem.MembershipType}}</td>
      </ng-container>
      <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let mem">{{mem.Status}}</td> 
      </ng-container>
      <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let mem">{{mem.Email}}</td>
      </ng-container>
      <ng-container matColumnDef="Preferred Phone">
            <th mat-header-cell *matHeaderCellDef>Preferred Phone</th>
            <td mat-cell *matCellDef="let mem">{{mem.PreferredPhone}}</td>
      </ng-container>
      <ng-container matColumnDef="Secondary Phone">
            <th mat-header-cell *matHeaderCellDef>Secondary Phone</th>
            <td mat-cell *matCellDef="let mem">{{mem.SecondaryPhone}}</td>
      </ng-container>
      <ng-container matColumnDef="Street Address">
            <th mat-header-cell *matHeaderCellDef>Street Address</th>
            <td mat-cell *matCellDef="let mem">{{mem.StreetAddress}}</td>
      </ng-container>
      <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let mem">{{mem.City}}</td>
      </ng-container>
      <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let mem">{{mem.State}}</td>
      </ng-container>
      <ng-container matColumnDef="Zip Code">
            <th mat-header-cell *matHeaderCellDef>Zip Code</th>
            <td mat-cell *matCellDef="let mem">{{mem.ZipCode}}</td>
      </ng-container>
      <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let mem"> 
                  <input type="button" value = "Delete" color='primary' (click)='deleteMember(mem.MemberID)'>   
                  <input type="button" value = "Edit" color='primary' (click)='openUpdateDialog(mem)'>   
            </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br><br>

<button mat-raised-button (click)="openDialog()">Add New Member</button>

<button mat-raised-button (click)="getEmails()">Export Email Addresses</button>
<br><br>
<div *ngIf="error" class="alert alert-danger">Database says: {{error}}</div>
<div *ngIf="success" class="alert alert-success">Database says: {{success}}</div>

<br><br><br><br>



<!-- <h2>Current Members</h2>

<div *ngFor="let mem of members;let i = index;">
    <input type="text"
            [(ngModel)]="members[i].MemberID"
            class="form-control"
            #MemberID="ngModel"
            [ngClass]="{ 'is-invalid': MemberID.touched && MemberID.invalid }"
            disabled
            required>
     <input type="text"
            [(ngModel)]="members[i].FirstName"
            class="form-control"
            #FirstName="ngModel"
            [ngClass]="{ 'is-invalid': FirstName.touched && FirstName.invalid }"
            required>
      <input type="text"
            [(ngModel)]="members[i].LastName"
            class="form-control"
            #LastName="ngModel"
            [ngClass]="{ 'is-invalid': LastName.touched && LastName.invalid }"
            required>
      <input type="text"
            [(ngModel)]="members[i].SecondaryHouseholdMemberName"
            class="form-control"
            #SecondaryHouseholdMemberName="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].LastPaidDate"
            class="form-control"
            #LastPaidDate="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].DateJoined"
            class="form-control"
            #DateJoined="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].MembershipType"
            class="form-control"
            #MembershipType="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].Active"
            class="form-control"
            #Active="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].Email"
            class="form-control"
            #Email="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].PreferredPhone"
            class="form-control"
            #PreferredPhone="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].SecondaryPhone"
            class="form-control"
            #SecondaryPhone="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].StreetAddress"
            class="form-control"
            #StreetAddress="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].City"
            class="form-control"
            #City="ngModel"
            required>
      <input type="text"
            [(ngModel)]="members[i].State"
            class="form-control"
            #State="ngModel"
            required>
            
      <input type="text"
            [(ngModel)]="members[i].ZipCode"
            class="form-control"
            #ZipCode="ngModel"
            required>

   <input type="button" value = "Delete" color='primary' (click)='deleteMember(members[i].MemberID)'>
   <input type="button" value = "Update" color='primary' (click)='updateMember(members[i].MemberID, members[i].FirstName, members[i].LastName)'>
</div>
<br><br>



<div id="theForm">
   <h2>Add New Member</h2>
   <form #f="ngForm" name="theForm" (submit)="addMember(f)">
     <div class="form-group">
       <label>First Name*</label>
       <input type="text"
             class="form-control"
             name="FirstName"
             [(ngModel)]="member.FirstName"
             #memberModel="ngModel"
             required
             pattern="^[a-zA-Z]+$">
       <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
         The first name is required
       </span>
       <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
         The first name can only contain the letters a-z or A-Z
       </span>
     </div>
 
     <div class="form-group">
      <label>Last Name*</label>
      <input type="text"
            class="form-control"
            name="LastName"
            [(ngModel)]="member.LastName"
            #memberModel="ngModel"
            required
            pattern="^[a-zA-Z]+$">
      <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
        The last name is required
      </span>
      <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
        The last name can only contain the letters a-z or A-Z
      </span>
     </div>
 
     <div class="form-group">
        <label>Secondary Household Member Name</label>
        <input type="text"
              class="form-control"
              name="SecondaryHouseholdMemberName"
              [(ngModel)]="member.SecondaryHouseholdMemberName"
              #memberModel="ngModel"
              pattern="^[a-zA-Z]+$"
              required>
            <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
            </span>
        <span class="help-block danger" *ngIf="memberModel.errors?.pattern">
          The Secondary Household Member Name can only contain the letters a-z or A-Z
        </span>
       </div>

       <div class="form-group">
        <label>Last Paid Date</label>
        <input type="text"
              class="form-control"
              name="LastPaidDate"
              [(ngModel)]="member.LastPaidDate"
              #memberModel="ngModel"
              pattern=""
              required>
            <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
            </span>
       </div>

       <div class="form-group">
        <label>Date Joined</label>
        <input type="text"
              class="form-control"
              name="DateJoined"
              [(ngModel)]="member.DateJoined"
              #memberModel="ngModel"
              pattern=""
              required>
            <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
            </span>
       </div>
       <div class="form-group">
            <label>Membership Type</label>
            <input type="text"
                  class="form-control"
                  name="MembershipType"
                  [(ngModel)]="member.MembershipType"
                  #memberModel="ngModel"
                  pattern=""
                  required>
                  <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                        The first name is required
                      </span>
           </div>

       <div class="form-group">
        <label>Active</label>
        <input type="checkbox"
              class="form-control"
              name="Active"
              [(ngModel)]="member.Active"
              #memberModel="ngModel">
       </div>

       <div class="form-group">
        <label>Email</label>
        <input type="text"
              class="form-control"
              name="Email"
              [(ngModel)]="member.Email"
              #memberModel="ngModel"
              required
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
                </span>
        <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
            Please enter a valid email address. Ex: "janedoe@email.com"
        </span>
       </div>

       <div class="form-group">
        <label>Preferred Phone</label>
        <input type="text"
              class="form-control"
              name="PreferredPhone"
              [(ngModel)]="member.PreferredPhone"
              #memberModel="ngModel"
              required
              pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$">
              <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
                </span>
        <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
            Please enter a valid phone number. Ex: "(123) 456-7890"
        </span>
       </div>

       <div class="form-group">
        <label>Secondary Phone</label>
        <input type="text"
              class="form-control"
              name="SecondaryPhone"
              [(ngModel)]="member.SecondaryPhone"
              #memberModel="ngModel"
              required
              pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$">
              <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
                </span>
        <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
            Please enter a valid phone number. Ex: "(123) 456-7890"
        </span>
       </div> 

       <div class="form-group">
        <label>Street Address</label>
        <input type="text"
              class="form-control"
              name="StreetAddress"
              [(ngModel)]="member.StreetAddress"
              #memberModel="ngModel"
              required
              pattern="^[#.0-9a-zA-Z\s,-]+$">
              <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
                </span>
        <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
            Street Address can only contain the characters ".", 0-9, a-z and A-Z. Ex: "10 S. Main St."
        </span>
       </div> 

       <div class="form-group">
        <label>City</label>
        <input type="text"
              class="form-control"
              name="City"
              [(ngModel)]="member.City"
              #memberModel="ngModel"
              pattern=""
              required>
              <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                  The first name is required
                </span>
        <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
            The City name can only contain the letters a-z or A-Z.
        </span>
        </div>

        <div class="form-group">
            <label>State</label>
            <input type="text"
                  class="form-control"
                  name="State"
                  [(ngModel)]="member.State"
                  #memberModel="ngModel"
                  pattern=""
                  required>
                  <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                        The first name is required
                      </span>
            <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
                  The State can only contain two capital letters. EX: "PA"
            </span>
        </div>
            <div class="form-group">
                  <label>Zip Code</label>
                  <input type="text"
                        class="form-control"
                        name="ZipCode"
                        [(ngModel)]="member.ZipCode"
                        #memberModel="ngModel"
                        pattern=""
                        required>
                        <span class="help-block danger" *ngIf="memberModel.errors?.required && memberModel.touched">
                              The first name is required
                        </span>
                  <span class="help-block danger" *ngIf="memberModel.errors?.pattern && memberModel.touched">
                        The Zip Code must have 5 digits.
                  </span>
            </div> 
     <button
         class="btn btn-primary btn-sm"
         [disabled]="f.invalid">Add
     </button>
   </form>
   
 </div>
-->
 

