.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.NavigationBar{
    background-color: #005596;
    color: white;
    font-size: larger;
    display:flex;
    justify-content: space-between;
    padding: 1%;
}

.homeButton{
    font-size: x-large;
}

.vote{
    background-color: #be0f34;
    color: white;
}

.login{
    background-color: #be0f34;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 10px 0px 0px;
    background:  #005596;
    color:white;
    font-size: 15px;
    position: fixed;
    bottom:0;
    width:100%;
    justify-content: space-between;
  }
  
  .content{
      position: relative;
     z-index: 0;
     overflow-y: scroll;
  }
  