<mat-toolbar id = "navBar">
    <div id = "buttonDiv">
      <nav>
        <a mat-button [routerLink]="'home'" routerLinkActive="active" id="homeButton"> LWV</a>
        <a mat-button [routerLink]="'calendar'" id="buttons"> Calendar </a>
        <a mat-button [routerLink]="'resources'" id="buttons"> Resources </a>
        <a mat-button [routerLink]="'history'" id="buttons"> History </a>
        <a mat-button [routerLink]="'officers'" id="buttons"> Officers </a>
        <a mat-raised-button [routerLink]="'/register-to-vote'" id = "vote"> Register to Vote! </a>
        <a mat-raised-button [routerLink]="'/log-in'" id = "log-in"> Log In </a>
      </nav>
    </div>
  <router-outlet></router-outlet>
</mat-toolbar>

