#navBar{
    position: fixed;
    background-color: #005596;
}

#buttonDiv{
    color: white;
}

#buttons{
    font-size: medium;
}

#homeButton{
    font-size: larger;
}

#vote{
    background-color: #be0f34;
    color: white;
    margin-left: 120%;
}

#log-in{
    background-color: #be0f34;
    color: white;
    margin-left: 5%;
    margin-right: 0%;
}
