

.slick-track {
    margin-left: 0 !important;
}

.slick-slide:focus {
    outline: none;
    }

.slick-slide{
    height: auto;
    align-items: center; 
    justify-content: center; 
    margin:10px;

    }
    

.slick-slide img{
    width:auto;
    border: 2px solid #fff;
    height: 300px;
   
  }

.slide{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  
}

.container{
    margin: auto;
    width: 80%;
    border: 60px solid #005596;
    background-color:  #005596;
    
  
}

.slide__caption {
   
   text-align: center;   
   color: white;
   margin-bottom: 20px;
    
  }
  .slick-prev {   
    background: #be0f34; 
    z-index: 1;
    left: 0px !important;
  }
  .slick-next {
    background: #be0f34; 
    right: 30px !important;
  }
  
    .slick-prev:before {
      color:#be0f34 !important;
      font-size: 50px !important;
      
    }
    .slick-next:before {
      color: #be0f34  !important;
      font-size: 50px !important
  
    }
    